@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,700,900);
* {
  padding: 0;
  border: 0;
  margin: 0;
  border-radius: 0 !important;
}
body {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../img/footer_lodyas.png');
}
.mainContainer {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
a:hover,
a:focus,
a:visited,
a:active {
  outline: none;
}
.add-padding {
  padding: 25px;
}
.icon-bar {
  height: 2px;
  background: #333;
  width: 12px;
  margin: 2px;
  display: block;
}
header,
footer {
  background: #333333;
  color: #fff;
  clear: both;
}
header a,
footer a,
header a:link,
footer a:link {
  color: #000;
  text-decoration: underline;
}
header a:hover,
footer a:hover,
header a:focus,
footer a:focus,
header a:visited,
footer a:visited,
header a:active,
footer a:active {
  color: #cccccc;
}
header {
  border-bottom: 5px solid #1a1a1a;
}
header h1 {
  font-weight: 900;
  padding-bottom: 10px;
}
header h1 span {
  font-size: 18px;
  font-weight: 100;
}
footer {
  text-align: center;
  border-top: 5px solid #1a1a1a;
  padding-bottom: 45px;
  margin-top: -18px;
}
footer p {
  line-height: 50px;
  margin-bottom: 0;
}
#status {
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  font-size: 10px;
}
#status .container {
  background: #666666;
  padding: 10px 0 0 0;
}
#status .player-buttons a {
  color: #cccccc;
  font-size: 18px;
  margin: 5px;
  text-decoration: none;
  opacity: .7;
}
#status .player-buttons a.active {
  color: #eee;
  opacity: 1;
}
#status .player-buttons a:hover,
#status .player-buttons a:active,
#status .player-buttons a:focus {
  color: #fff;
  text-decoration: none;
  outline: none;
}
#status #basic-info {
  list-style-type: none;
  color: #cccccc;
}
#status #basic-info li {
  display: inline-block;
  font-size: 14px;
  padding-top: 2px;
  min-width: 150px;
}
#status #basic-info li span {
  font-weight: 700;
  color: #fff;
  margin-right: 20px;
}
#main-content h1 {
  margin: 15px 0 5px 15px;
}
#main-content .right-side {
  padding-left: 0;
  background: #fff;
}
#main-content #video-info span {
  font-weight: 700;
  font-size: 12px;
  padding: 0 10px;
}
#main-content #video-info span:before {
  font-family: 'Glyphicons Halflings';
  margin-right: 5px;
}
#main-content #video-info .author:before {
  content: '\e008';
}
#main-content #video-info .views:before {
  content: '\e105';
}
#main-content #video-info .likes:before {
  content: '\e125';
  color: green;
}
#main-content #video-info .dislikes:before {
  content: '\e126';
  color: red;
}
#main-content #video-info .published:before {
  content: '\e109';
}
#main-content #video-info .description span {
  font-weight: 400;
  text-align: justify;
  padding-top: 10px;
}
#main-content #video-info .description span:before {
  content: '\270f';
}
#main-content #search input {
  border: 1px solid #ccc;
  width: 100%;
}
.user-stuff {
  margin-bottom: 0;
  background: #000;
}
.user-stuff h1 {
  color: #fff;
  padding-left: 15px;
}
.user-stuff #playlists,
.user-stuff #playlist-videos {
  padding-top: 0;
}
.user-stuff #playlists-list,
.user-stuff #playlist-videos {
  padding: 0;
  margin-bottom: 0;
}
.user-stuff .btn-group,
#search .btn-group {
  margin: 0;
  width: 100%;
}
.user-stuff .btn-group button,
#search .btn-group button {
  padding: 5px 20px;
  height: 60px;
  width: 50%;
  background: #0e7efb;
  font-size: 25px;
  color: #fff;
  border: none;
}
.user-stuff .btn-group button:only-child,
#search .btn-group button:only-child {
  width: 100%;
}
.user-stuff .btn-group button:hover,
#search .btn-group button:hover {
  background: #034da0;
}
.user-stuff .btn-group button.add-new-playlist,
#search .btn-group button.add-new-playlist {
  background: green;
}
.user-stuff .btn-group button.add-new-playlist:hover,
#search .btn-group button.add-new-playlist:hover {
  background: #004d00;
}
.videos-container {
  list-style-type: none;
}
.videos-container.light a,
.videos-container.light p,
.videos-container.light h3 {
  color: #333;
}
.videos-container.light .item .video img {
  opacity: 1;
}
.videos-container.dark {
  margin: 0;
  background: #000;
}
.videos-container.dark a,
.videos-container.dark p,
.videos-container.dark h3 {
  color: #fff;
}
.videos-container .item {
  width: 33.3%;
  position: relative;
  display: inline-block;
  margin-bottom: -5px;
}
.videos-container .item a {
  display: block;
}
.videos-container .item .video {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.videos-container .item .video > a {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.videos-container .item .video img {
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  opacity: .3;
}
.videos-container .item .video .text {
  position: absolute;
  top: 0;
  color: #eee;
  background: #0e7efb;
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  opacity: 0;
}
.videos-container .item .video .text .va-middle {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
.videos-container .item .video .dropdown {
  opacity: 0;
}
.videos-container .item .video .dropdown > a {
  display: block;
  margin-top: -24px;
  padding: 5px;
  cursor: pointer;
  background: #222;
  width: 30px;
}
.videos-container .item .video .dropdown > a span {
  background: #eee;
  height: 2px;
  width: 15px;
}
.videos-container .item .video .dropdown .dropdown-menu {
  background: #222;
  box-shadow: none;
  border: 0px;
  margin: 0;
}
.videos-container .item .video .dropdown .dropdown-menu > li {
  text-align: left;
  cursor: pointer;
}
.videos-container .item .video .dropdown .dropdown-menu > li a {
  color: #cccccc;
}
.videos-container .item .video .dropdown .dropdown-menu > li a i {
  color: #0e7efb;
  margin-right: 5px;
}
.videos-container .item .video .dropdown .dropdown-menu > li a:hover,
.videos-container .item .video .dropdown .dropdown-menu > li a:focus {
  background: #0e7efb;
}
.videos-container .item .video .dropdown .sub-dropdown {
  position: absolute;
  top: 57px;
  left: 220px;
  background: #222;
  min-width: 200px;
  color: #eee;
  list-style-type: none;
}
.videos-container .item .video .dropdown .sub-dropdown li {
  padding: 5px 20px;
}
.videos-container .item .video .dropdown .sub-dropdown li:hover {
  background: #0e7efb;
}
.videos-container .item .video .dropdown .add-to-another ul {
  display: none;
}
.videos-container .item .video .dropdown .add-to-another:hover ul {
  display: block;
}
.videos-container .item .video .dropdown.open {
  opacity: 1;
}
.videos-container .item .video .dropdown.open > a span {
  background: #0e7efb;
}
.videos-container .item .private:before {
  font-family: "Glyphicons Halflings";
  content: "\e033";
  font-size: 12px;
  margin: 5px;
}
.videos-container .item:hover .text,
.videos-container .item:hover .dropdown {
  transition: opacity .3s;
  opacity: 1;
}
.videos-container .item.active {
  border: 2px solid green;
  margin-top: -2px;
}
.videos-container .item:before {
  content: "";
  padding-top: 56.7%;
  display: block;
}
#search .input-group-addon {
  cursor: pointer;
  border: 0;
  background: #0e7efb;
  color: #fff;
}
#search .input-group-addon:focus,
#search .input-group-addon:active {
  background: #034da0;
}
#search input.form-control {
  border: 1px solid #0e7efb !important;
}
.modal .modal-content {
  box-shadow: 0 0 0;
  border-radius: 0;
}
.modal .check {
  padding-top: 5px;
}
.modal .btn,
.modal .form-control {
  border-radius: 0 !important;
}
.modal ul {
  padding: 0 25px;
}
#successBox {
  width: 100%;
  position: fixed;
  top: 0;
}
#successBox .container {
  max-width: 600px;
  background: green;
  padding-top: 12.5px;
  box-shadow: 0 0 5px #222;
  height: 45px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}
#successBox span {
  float: right;
  font-size: 35px;
  font-weight: 900;
  margin-top: -20px;
  cursor: pointer;
}
