@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,700);

@mainColor: #333;
@secondaryColor: #ccc;
@headerHeight: 120px;

* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font-family: "Raleway", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mainContainer {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

a:hover, a:focus, a:visited, a:active {
    outline: none;
}

.input-group, .input-group-addon, .form-control, .input-group-sm {
    border-radius: 0 !important;
}

header, footer {
    background: @mainColor;
    color: #fff;

    a, a:link {
        color: #000;
        text-decoration: underline;
    }

    a:hover, a:focus, a:visited, a:active {
        color: @secondaryColor;
    }
}

header {
    border-bottom: 5px solid darken(@mainColor, 10%);

    h1 {
        font-weight: 700;
        padding-top: 85px;

        span {
            font-size: 18px;
            font-weight: 100;
        }
    }

    .status {
        right: 0; top: 0;
        z-index: 100;
        position: fixed;
        background: @mainColor;
        width: 250px;
        padding: 20px;
        font-size: 10px;

        .player-buttons {
            a {
                color: @secondaryColor;
                font-size: 18px;
                margin: 5px;
                text-decoration: none;
                opacity: .7;

                &.active {
                    color: #eee;
                    opacity: 1;
                }

                &:hover, &:active, &:focus {
                    color: #fff;
                    text-decoration: none;
                    outline: none;
                }
            }
        }

        ul {
            list-style-type: none;
            padding-top: 30px;
            text-align: right;
            color: @secondaryColor;

            span {
                font-weight: 700;
                color: #fff;
            }
        }
    }


}

footer {
    text-align: center;
    border-top: 5px solid darken(@mainColor, 10%);

    p {
        line-height: 50px;
        margin-bottom: 0;
    }
}

#main-content {
    width: 100%;

    > div {
        padding: 50px;
    }


    h3 {
        margin: 25px 0;
        border-bottom: 1px solid darken(@secondaryColor, 50%);

        a {
            color: #fff;

            &:after {
                font-family: 'Glyphicons Halflings';
                font-size: 10px;
                color: @secondaryColor;
                content: ' \e113';
            }

            &.collapsed:after {
                content: ' \e114';
            }
        }
    }

    .player-container {
        width: 100%;
    }

    .prev-button, .next-button {
        padding: 5px 20px;
        // visibility: hidden;
    }

    #video-info {
        width: 800px;
        margin-top: 20px;

        p {
            font-weight: 700;

            span {
                font-weight: 300;
            }
        }
    }

    #search {
        margin-top: 20px;
        width: 800px;

        input {
            border: 1px solid #ccc;
            width: 100%;
        }
    }
}

.add-new-playlist {
    border-top: 1px solid darken(@secondaryColor, 50%);
    padding-top: 10px;

    a {
        color: #fff;
    }

    h4 {
        font-size: 12px;
        font-weight: 700;
    }

    .th {
        width: 120px;
        background: #ddd;
        text-align: center;
        margin-right: 10px;

        i {
            line-height: 80px;
            color: green;
            font-size: 25px;
            opacity: .5;
            transition: opacity .2s;
        }
    }

    &:hover {
        .th {
            i {
                opacity: 1;
            }
        }
    }
}

.videos-container {
    list-style-type: none;

    &.light {
        a, p {
            color: #333;
        }
    }

    &.dark {
        a, p {
            color: #fff;
        }
    }


    .item {
        border-top: 1px solid darken(@secondaryColor, 50%);
        height: 125px;
        overflow: hidden;
        padding: 10px 0;

        &:hover {
            .thumbnail {
                opacity: .5;
            }

            .info {
                opacity: 1;
            }
        }

        &:first-child {
            border-top: 0 none;
        }

        h4 {
            font-weight: 700;
            font-size: 12px;
        }

        p {
            font-size: 12px;
            margin: 0;

            &.excerpt {
                font-size: 10px;
            }
        }

        .thumbnail {
            transition: opacity .2s;
            opacity: 1;
            border: 0;
            background: transparent;
            padding: 0;
            border-radius: 0;
        }

        .btn-group {
            position: relative;
            top: 0px; left: 15px;
            transition: top .2s;
            padding: 0;

            .btn {
                font-size: 10px;
                padding: 3px 5px;
                width: 30px;
                display: block;
                color: #333;
                border-radius: 0;
                margin-left: 0;
            }

            .add {
                color: green;
            }

            .delete {
                color: red;
            }
        }
    }

    .privacy-status {
        position: absolute;
        z-index: 10;

        img {
            height: 25px;
            vertical-align: top;
            cursor: pointer;
        }
    }

    .info {
        position: absolute;
        z-index: 10;
        width: 120px;
        margin-left: 20px;
        padding-top: 3px;
        text-align: center;
        opacity: 0;
        transition: opacity .2s;

        .row {
            max-width: 120px;
        }

        .likes {
            p:before {
                content: '\e125';
                color: green;
            }
        }

        .dislikes {
            p:before {
                content: '\e126';
                color: red;
            }
        }

        .dislikes, .likes {
            p:before {
                font-family: 'Glyphicons Halflings' ;
                margin: 3px;
            }
        }

        .duration {
            font-size: 22px;
            font-weight: 700;
        }
    }


    .col-xs-12 {
        h4.title {
            margin-bottom: 0;
        }

        .th {
            width: 120px;
            height: 80px;
            overflow: hidden;
            margin-right: 20px;

            img {
                width: 120px;
                height: 80px;
                margin-right: 15px;
            }
        }
    }
}

.modal {
    .modal-content {
        box-shadow: 0 0 0;
        border-radius: 0;
    }

    .check {
        padding-top: 5px;
    }

    .btn, .form-control {
        border-radius: 0 !important;
    }
}