<div id="newPlaylistModal" ng-controller="playlistCtrl">

  <div class="modal-header">
    <span data-dismiss="modal" class="close">&times;</span>
    <h5 class="modal-title">{{ title }}</h5>
  </div>

  <div class="modal-body">
    <form name="form">

      <div class="form-group">
        <label for="newPlaylistTitle">Title<span class="red">*</span></label>
        <input type="text" class="form-control" id="newPlaylistTitle" placeholder="Title" required ng-model="playlist.snippet.title" name="title">
        <div ng-show="(form.$submitted || form.title.$touched) && form.title.$error.required">
          <p class="red">Title is required!</p>
        </div>
      </div>

      <div class="form-group">
        <label for="newPlaylistDescription">Description</label>
        <textarea type="text" class="form-control" id="newPlaylistDescription" rows="8" placeholder="Playlist description" ng-model="playlist.snippet.description"></textarea>
      </div>

      <div class="form-group">
        <label for="newPlaylistTags">Tags</label>
        <input type="text" class="form-control" id="newPlaylistTags" placeholder="Comma separated values" ng-model="playlist.snippet.tags">
      </div>

      <div class="form-group">
        <label for="newPlaylistPrivacy">Privacy</label>
        <div id="newPlaylistPrivacy" class="btn-group pull-right" ng-init="playlist.status.privacyStatus ? playlist.status.privacyStatus : 'public'">
          <label class="btn btn-main-color" ng-model="playlist.status.privacyStatus" btn-radio="'public'">Public</label>
          <label class="btn btn-main-color" ng-model="playlist.status.privacyStatus" btn-radio="'unlisted'">Non-Public</label>
          <label class="btn btn-main-color" ng-model="playlist.status.privacyStatus" btn-radio="'private'">Private</label>
        </div>
      </div>

      <p><span class="red">*</span>marked fields are required</p>

    </form>
  </div>

  <div class="modal-footer">
    <a class="btn btn-warning" ng-click="dismiss()">Cancel</a>
    <a class="btn btn-success" ng-click="create()" ng-disabled="form.$invalid">{{ buttonText }}</a>
  </div>

</div>