    <!DOCTYPE html>
<html lang="pl" ng-app="playlistManager">
    <head>
        <title>YouTube Playlists Manager</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="Shortcut icon" href="img/fav.gif">

        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="css/bs.xl.css" type="text/css">
        <link rel="stylesheet" href="css/styles.css" type="text/css">

    </head>
    <body ng-controller="mainCtrl">
        <div class="mainContainer">

            <header class="row">
                <div class="container">
                    <div class="col-sm-4 col-md-3 col-lg-3">
                        <h1>YT<span>PlaylistsManager</span></h1>
                    </div>
                </div>
            </header>

            <div id="status" ng-controller="statusCtrl">
                <div class="container">
                    <div class="row-fluid">

                        <div class="player-buttons col-xs-4 text-right">

                            <a href="#!" data-toggle="tooltip" data-placement="top" data-title="Previous" class="prev"
                               ng-click="prevVideo();">
                                <i class="glyphicon glyphicon-fast-backward"></i>
                            </a>

                            <a class="play" href="#!" data-toggle="tooltip" data-placement="top" data-title="Play"
                               ng-click="play();"
                               ng-class=" data.playState == 'playing' ? 'active' : ''; ">
                                <i class="glyphicon glyphicon-play"></i>
                            </a>

                            <a class="pause" href="#!" data-toggle="tooltip" data-placement="top" data-title="Pause"
                               ng-click="pause();"
                               ng-class=" data.playState == 'paused' ? 'active' : ''; ">
                                <i class="glyphicon glyphicon-pause"></i>
                            </a>

                            <a href="#!" data-toggle="tooltip" data-placement="top" data-title="Stop" class="stop"
                               ng-click="stop();"
                               ng-class=" data.playState == 'stopped' ? 'active' : ''; ">
                                <i class="glyphicon glyphicon-stop"></i>
                            </a>

                            <a href="#!" data-toggle="tooltip" data-placement="top" data-title="Next" class="next" ng-click="nextVideo();">
                                <i class="glyphicon glyphicon-fast-forward"></i>
                            </a>

                        </div>

                        <ul class="col-xs-8" id="basic-info">
                            <li>Channel: <span class="channel">{{ data.channelTitle }}</span></li>
                            <li>Playlist: <span class="current-playlist">{{ data.activePlaylist }}</span></li>
                            <li>Song: <span class="current-video">{{ data.video }}</span></li>
                            <li>
                                <span class="authorization-btn">
                                    <a href="#!" data-toggle="modal" data-target="#authorizationModal" >Authorize</a>
                                </span>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div id="main-content" class="row">

                <div class="col-xs-6 user-stuff add-padding">
                    <div ng-controller="playlistCtrl" class="row-fluid">
                        <h1>Your Playlists</h1>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-search"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Search in playlists" ng-model="playlistSearch">
                        </div>
                        <div id="playlists">

                            <ul id="playlists-list" class="videos-container dark">

                                <playlist></playlist>

                            </ul>
                            <div class="btn-group">
                                <button class="btn add-new-playlist" data-target="#newPlaylistModal" data-toggle="modal">
                                    <i class="glyphicon glyphicon-plus"></i> Add New Playlist
                                </button>
                                <button class="btn next-button paging-button" ng-click="getPlaylists();">Load More &#187;</button>
                            </div>

                        </div>
                    </div>

                    <div ng-controller="videoCtrl" class="row-fluid">
                        <h1>Videos in "<span class="current-playlist">{{ playlistTitle }}</span>"</h1>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-search"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Search in playlist videos" ng-model="playlistVideosSearch">
                        </div>

                        <div id="playlist-videos">

                            <ul class="videos-container dark">

                                <yt-video>

                            </ul>
                        </div>
                        <div class="btn-group">
                            <button class="btn next-button paging-button" ng-click="getVideos();">Load More &#187;</button>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 right-side">
                    <div class="player-container row">
                        <div id="player" class="col-xs-12" ng-controller="playerCtrl" ng-init="init();">
                            <!-- player goes here -->
                        </div>
                    </div>
                    <div class="add-padding">
                        <div id="main-buttons" class="row">
                            <div class="col-xs-12 btn-group-lg">
                                <button class="btn btn-default add" type="button" title="Add this video to active playlist" ng-click="addVideo();">
                                    <i class="glyphicon glyphicon-plus"></i> Add
                                </button>
                                <button class="btn btn-default remove" type="button" title="Remove this video from active playlist">
                                    <i class="glyphicon glyphicon-minus"></i> Remove
                                </button>
                                <!-- <button class="btn btn-default share-fb" type="button" title="Add this video to active playlist">
                                    <img src="img/glyphicons_social_30_facebook.png" style="width: 15px;"> Share
                                </button> -->
                                <button class="btn btn-default like" type="button" title="Like">
                                    <i class="glyphicon glyphicon-thumbs-up"></i> Like
                                </button>
                                <button class="btn btn-default dislike" type="button" title="Dislike">
                                    <i class="glyphicon glyphicon-thumbs-down"></i> Dislike
                                </button>
                            </div>
                        </div>
                        <div id="video-info" class="row" ng-controller="videoDataCtrl">
                            <h1>{{ video.title }}</h1>
                            <div class="col-xs-12">
                                <span class="author">{{ video.author }}</span>
                                <span class="views">{{ video.views }}</span>
                                <span class="likes">{{ video.likes }}</span>
                                <span class="dislikes">{{ video.dislikes }}</span>
                                <span class="published">{{ video.publishedAt }}</span>
                            </div>
                            <div class="col-xs-12">
                                <p class="description"><span>{{ video.description }}</span></p>
                            </div>
                        </div>
                        <div id="search" class="row" ng-controller="searchCtrl">
                            <div class="col-xs-12">
                                <div class="input-group input-group-lg">
                                    <div class="input-group-addon" ng-click="search(searchKeywords);">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </div>
                                    <input id="searchInput" type="text" class="form-control" placeholder="Search..." ng-model="searchKeywords">
                                </div>
                            </div>
                            <div class="col-xs-12 search-result">
                                <h1>Search result:</h1>
                                <div class="videos-container light">
                                    <yt-video></yt-video>
                                </div>
                                <div class="btn-group">
                                    <button class="btn next-button paging-button" ng-click="search(searchKeywords);">Load More &#187;</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <footer class="row">
                <div class="container">
                    <p>Created by <a href="http://patrykgurgul.pl/">Patryk Gurgul</a> &copy; 2014 || View this project on <a href="https://github.com/patryk-g/yt-manager">Github</a></p>
                </div>
            </footer>

        </div> <!-- /.mainContainer -->

        <!-- authorization modal -->

        <div id="authorizationModal" class="modal fade in" role="dialog" ng-controller="loginCtrl">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4>Read Me!</h4>
                    </div>
                    <div class="modal-body">
                        <div id="login-container" class="pre-auth">
                            <p>This application requires access to your YouTube account.</p>
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    Attention!
                                </div>
                                <div class="panel-body">
                                    Notice that it will make changes to your account! Author doesn't take responsibility for your actions.
                                </div>
                            </div>

                            <p>Also notice that application is in pre-alpha state and not everything is working properly or doesn't work at all. For now, list of functionalities which should work somehow is:</p>

                            <ul>
                                <li>Login</li>
                                <li>Playlists - get playlists from channel, make new one, delete, edit, load videos, play playlist, play singular video from playlist.</li>
                                <li>Videos - play, delete from playlist, change position.</li>
                                <li>Status bar (on bottom) - buttons, status.</li>
                                <li>Search - search :), play video from search results, add to playlist, add to not-active playlist.</li>
                            </ul>

                            <p>Please, authorize to continue</p>
                            <p>Enjoy!</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" id="login-link" data-dismiss="modal" class="btn btn-success">Authorize</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="esContainer">
            <div id="successBox">
                <div class="container">
                    {{ msg }}
                    <span>&times;</span>
                </div>
            </div>

            <div class="modal fade" id="errorModal">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="panel panel-danger">
                                <div class="panel-heading">{{ error.code }}</div>
                                <div class="panel-body">
                                    {{ error.message }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/videoFctr.js"></script>
        <script type="text/javascript" src="js/playlistFctr.js"></script>
        <script type="text/javascript" src="js/mainCtrl.js"></script>
        <script type="text/javascript" src="js/channelSrvc.js"></script>
        <script type="text/javascript" src="js/statusCtrl.js"></script>
        <script type="text/javascript" src="js/loginCtrl.js"></script>
        <script type="text/javascript" src="js/playlistCtrl.js"></script>
        <script type="text/javascript" src="js/videoCtrl.js"></script>
        <script type="text/javascript" src="js/playerCtrl.js"></script>
        <script type="text/javascript" src="js/videoDataCtrl.js"></script>
        <script type="text/javascript" src="js/searchCtrl.js"></script>
        <script type="text/javascript" src="js/directives.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#authorizationModal').modal('show');

                var resizePlayer = function() {
                    var player = $("#player");
                    player.height( parseInt(player.width(), 10) * 0.5225 + "px");
                }

                $('[data-toggle="tooltip"]').tooltip();
                resizePlayer();

                $(window).resize(resizePlayer);

                $('.videos-container').find('.dropdown').addClass('dropup');

                $('#successBox').slideUp(0);
            });
        </script>
    </body>
</html>