.yt-items-list {
  list-style-type: none;

  &.no-description {
    p {
      display: none;
    }
  }

  a {
    display: block;
  }

  .yt-item {
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
    .cubic-trans;

    &:hover {
      .thumb {
        background-size: 120%;
      }
    }

    .thumb {
      min-height: 100px;
      background-position: center center;
      background-size: 100%;
      background-repeat: no-repeat;
      .cubic-trans;

      img {
        position: relative;
        max-width: 100%;
        opacity: 0;
      }
    }

    &.ng-enter, &.ng-move {
      left: 50px;
      opacity: 0;
    }

    &.ng-enter.ng-enter-active {
      left: 0;
      opacity: 1;
    }

    &.ng-leave.ng-leave-active {
      left: -50px;
      opacity: 0;
    }
  }
}

//--------------------------------------------------------------------------------- list

.list .yt-item {
  span:hover {
    h5, p {
      color: #666;
    }
  }

  .thumb {
    width: 200px;
    height: 136px;
    margin-right: 15px;
  }

  h5 {
    margin-top: 10px;
    max-height: 30px;
    overflow-y: hidden;
  }

  p {
    max-height: 43px;
    overflow-y: hidden;
  }
}

//--------------------------------------------------------------------------------- grid

.grid .yt-item {
  .thumb {
    position: relative;
    overflow: hidden;

    p {
      position: absolute;
      color: #fff;
      background: rgba(0,0,0,.7);
      font-size: 14px;
      padding: 10px;
      .cubic-trans;
    }

    .duration {
      top: 0; left: -300px;
    }

    .views, .menu {
      bottom: 0; right: -300px;
      margin-bottom: 0;
    }

    &:hover {
      .duration {
        left: 0;
      }

      .views, .menu {
        right: 0;
      }
    }
  }

  &:nth-child(6n+7) {
    clear: left;
  }

  &:nth-child(6n) {
    clear: right;
  }

  .text {
    text-align: center;
  }
}

//--------------------------------------------------------------------------------- grid&playlist

.grid .playlist,
.grid .yt-item {
  .menu {

    .dropdown-menu {
      background: #1a1a1a;
      text-align: right;
      width: 100%;
      border-radius: 0;
      margin-top: 0;

      a {
        color: @color;

        &:hover, &:focus, &:active {
          background: @color;
          color: #eee;
        }
      }
    }
  }
}

//--------------------------------------------------------------------------------- list&playlist

.list .playlist {
  span {
    font-size: 14px;
    padding: 8px 12px;
  }
}