.yt-items-list {
  list-style-type: none;

  a {
    display: block;
  }

  .yt-item {
    cursor: pointer;
    margin-bottom: 10px;
    .cubic-trans;

    &:hover {
      .thumb {
        background-size: 120%;
      }
    }

    .thumb {
      min-height: 100px;
      background-position: center center;
      background-size: 100%;
      background-repeat: no-repeat;
      .cubic-trans;

      &.ng-enter, &.ng-move {
        left: 200px;
        opacity: 0;
      }

      &.ng-enter.ng-enter-active {
        left: 0;
        opacity: 1;
      }

      &.ng-leave.ng-leave-active {
        left: 200px;
        opacity: 0;
      }

      img {
        position: relative;
        max-width: 100%;
        opacity: 0;
      }
    }
  }
}

//--------------------------------------------------------------------------------- list

.list .yt-item {
  .thumb {
    width: 200px;
    height: 136px;
    margin-right: 15px;
  }

  h5 {
    margin-top: 10px;
  }

  p {
    max-height: 43px;
    overflow-y: hidden;
  }
}

//--------------------------------------------------------------------------------- grid

.grid .yt-item {
  min-height: 100px;

  .thumb {
    position: relative;
    overflow: hidden;

    p {
      position: absolute;
      color: #fff;
      background: rgba(0,0,0,.7);
      font-size: 25px;
      padding: 10px;
      .cubic-trans;
    }

    .duration {
      top: 0; left: -300px;
    }

    .views {
      bottom: 0; right: -300px;
      margin-bottom: 0;
    }

    &:hover {
      .duration {
        left: 0;
      }

      .views {
        right: 0;
      }
    }
  }

  &:nth-child(6n+7) {
    clear: left;
  }

  &:nth-child(6n) {
    clear: right;
  }

  .text {
    text-align: center;
  }
}