<div id="#search">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="input-group input-group-lg">
        <span toggle="tooltip" title="Search" class="input-group-addon" ng-click="search();">
          <i class="glyphicon glyphicon-search"></i>
        </span>
        <input type="text" class="form-control" placeholder="Search..." ng-model="keywords">
        <span toggle="tooltip" title="Autoplay results" class="input-group-addon" ng-model="options.autoplayResults" btn-radio="true" uncheckable>
            <i class="glyphicon glyphicon-circle-arrow-right"></i>
        </span>
        <span toggle="tooltip" title="Grid layout" class="input-group-addon" ng-model="options.defaultLayout" btn-radio="'grid'">
          <i class="glyphicon glyphicon-th-large"></i>
        </span>
        <span toggle="tooltip" title="List layout" class="input-group-addon" ng-model="options.defaultLayout" btn-radio="'list'">
          <i class="glyphicon glyphicon-th-list"></i>
        </span>
      </div>
    </div>
  </div>

  <ul class="row yt-items-list" ng-class="options.defaultLayout">

    <div ng-if="options.defaultLayout === 'grid'">
      <yt-item-grid ng-repeat="item in results"></yt-item-grid>
    </div>

    <div ng-if="options.defaultLayout === 'list'">
      <yt-item-list ng-repeat="item in results"></yt-item-list>
    </div>

  </ul>
</div>