<div id="settings">
  <h2 class="spacer">Settings</h2>
  <div class="row">
    <div class="col-md-6">
      <h4>Basic:</h4>

      <div class="options-group row">
        <div class="col-md-6">
          <p>Max Results:</p>
        </div>
        <div class="col-md-6">
          <div class="btn-group">
            <label class="btn btn-yellow" ng-model="options.maxResults" btn-radio="10">10</label>
            <label class="btn btn-yellow" ng-model="options.maxResults" btn-radio="25">25</label>
            <label class="btn btn-yellow" ng-model="options.maxResults" btn-radio="50">50</label>
          </div>
        </div>
      </div>

      <div class="options-group row">
        <div class="col-md-6">
          <p>Remember Me:</p>
        </div>
        <div class="col-md-6">
          <div class="btn-group">
            <label class="btn btn-yellow" ng-model="options.rememberMe" btn-radio="true">Yes</label>
            <label class="btn btn-yellow" ng-model="options.rememberMe" btn-radio="false">No</label>
          </div>
        </div>
      </div>

      <div class="options-group row">
        <div class="col-md-6">
          <p>Top section:</p>
        </div>
        <div class="col-md-6">
          <div class="btn-group">
            <label class="btn btn-yellow" ng-model="options.topSection" btn-radio="'big'">Big</label>
            <label class="btn btn-yellow" ng-model="options.topSection" btn-radio="'small'">Small</label>
          </div>
        </div>
      </div>

      <div class="options-group row">
        <div class="col-md-6">
          <p>Default layout:</p>
        </div>
        <div class="col-md-6">
          <div class="btn-group">
            <label class="btn btn-yellow" ng-model="options.defaultLayout" btn-radio="'grid'">
              <i class="glyphicon glyphicon-th-large"></i>
            </label>
            <label class="btn btn-yellow" ng-model="options.defaultLayout" btn-radio="'list'">
              <i class="glyphicon glyphicon-th-list"></i>
            </label>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <h4>Playlists:</h4>

      <div class="options-group row">
        <div class="col-md-6">
          <p>Add new videos on position:</p>
        </div>
        <div class="col-md-6">
          <div class="btn-group">
            <label class="btn btn-yellow" ng-model="options.position" btn-radio="'first'">First</label>
            <label class="btn btn-yellow" ng-model="options.position" btn-radio="'last'">Last</label>
          </div>
        </div>
      </div>

      <div class="options-group row">
        <div class="col-md-6">
          <p>Autoplay:</p>
        </div>
        <div class="col-md-6">
          <div class="btn-group">
            <label class="btn btn-yellow" ng-model="options.autoplay" btn-radio="true">Yes</label>
            <label class="btn btn-yellow" ng-model="options.autoplay" btn-radio="false">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row spacer">
      <div class="col-md-12 text-right">
        <a ng-click="saveOptions();" class="btn btn-yellow big">Save</a>
      </div>
    </div>
  </div>
</div>