@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
.cubic-trans {
  transition: all 0.3s cubic-bezier(0, 0.1, 0.35, 1);
}
.btn-green,
.btn-red {
  color: #fff;
}
.btn-green {
  background: #5ca323;
}
.btn-red {
  background: #bc070d;
}
* {
  padding: 0;
  margin: 0;
  bottom: 0 none;
}
body {
  font-family: 'Montserrat';
}
::-moz-selection {
  background: #006699;
  color: #fff;
}
::-moz-selection {
  background: #006699;
  color: #fff;
}
::selection {
  background: #006699;
  color: #fff;
}
a,
a:link,
a:visited {
  color: #006699;
}
a:hover,
a:focus,
a:active {
  color: #004466;
  text-decoration: none;
  outline: none;
}
h1 {
  font-size: 100px;
}
h2 {
  font-size: 75px;
}
h3 {
  font-size: 50px;
}
h4 {
  font-size: 35px;
}
h5 {
  font-size: 25px;
}
h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter {
  color: #006699;
  font-weight: 700;
}
a.bttn {
  background: #006699;
  color: #fff;
  padding: 10px 25px;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
}
.btn-main-color {
  background: #006699;
  border-radius: 0;
  color: #fff;
}
.btn-main-color.active {
  background: #004466;
}
.btn-main-color.big {
  font-size: 30px;
  padding: 20px 50px;
  margin: 20px;
  color: #fff;
}
.btn-main-color:hover,
.btn-main-color:focus,
.btn-main-color:active {
  background: #004466;
  color: #fff;
}
.spacer {
  margin-bottom: 50px;
}
.text-light {
  color: #bbb;
}
.more a {
  display: block;
  padding: 15px;
  margin-bottom: 50px;
  text-size: 35px;
  text-align: center;
  cursor: pointer;
  background: #006699;
  color: #fff;
}
.more a:hover,
.more a:focus,
.more a:active {
  background: #004466;
  color: #fff;
}
.red {
  color: #bc070d;
}
.green {
  color: #5ca323;
}
.white {
  color: #fff;
}
#progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  width: 100%;
  z-index: 15000;
}
#progress .loading-bar {
  height: 3px;
  background: #5ca323;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0, 0.1, 0.35, 1);
}
.center-content > * {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@-webkit-keyframes downvote {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: 5px;
  }
}
@keyframes downvote {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: 5px;
  }
}
@-webkit-keyframes upvote {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -5px;
  }
}
@keyframes upvote {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -5px;
  }
}
#hello {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
  color: #fff;
  z-index: 15000;
}
#hello span {
  color: #006699;
}
#logo,
.toggle-nav {
  background: #006699;
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 15000;
  text-align: center;
}
#logo:hover,
.toggle-nav:hover,
#logo:focus,
.toggle-nav:focus,
#logo:active,
.toggle-nav:active {
  background: #004466;
}
#logo {
  position: fixed;
  top: 50px;
  left: 0;
}
#logo.small {
  width: 50px;
  height: 50px;
}
#logo.small h1 {
  font-size: 30px;
}
#logo.small h1 a {
  padding: 10px 0;
}
#logo *,
#logo {
  transition: all 0.3s cubic-bezier(0, 0.1, 0.35, 1);
}
#logo h1 {
  font-size: 60px;
  line-height: 1;
  margin: 0;
}
#logo h1 a {
  color: #fff;
  padding: 20px 0;
  display: block;
}
nav {
  position: fixed;
  right: 0;
  top: 50px;
  z-index: 15000;
}
nav.small .toggle-nav {
  width: 50px;
  height: 50px;
  padding-left: 15px;
  padding-top: 16px;
}
nav.small .toggle-nav .menu-bar {
  height: 4px;
  width: 20px;
  margin-bottom: 2.5px;
}
nav.small ul {
  margin: 50px 0 0 0;
  font-size: 15px;
}
nav .toggle-nav {
  padding-left: 30px;
  padding-top: 32.5px;
  float: right;
}
nav .toggle-nav .menu-bar {
  height: 8px;
  width: 40px;
  border-radius: 5px;
  background: #fff;
  display: block;
  margin-bottom: 5px;
}
nav ul {
  position: absolute;
  right: -250px;
  margin: 100px 0 0 0;
  text-align: center;
  font-size: 30px;
  list-style-type: none;
  transition: all 0.3s cubic-bezier(0, 0.1, 0.35, 1);
}
nav ul li {
  overflow: hidden;
  background: #000;
  cursor: pointer;
}
nav ul li:hover {
  background: #004466;
}
nav ul li a {
  width: 250px;
  padding: 10px 0;
  display: block;
}
nav ul li a,
nav ul li a:link,
nav ul li a:visited {
  color: #fff;
}
nav.opened ul {
  right: 0;
}
#top {
  background: #1a1a1a;
  border-bottom: 3px solid #000;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 486px;
  transition: all 0.3s cubic-bezier(0, 0.1, 0.35, 1);
}
#top.small {
  height: 281px;
}
#top.small #player-container {
  min-width: 500px;
  max-width: 864px;
  min-height: 281px;
  max-height: 281px;
}
#top.small #player-container iframe {
  max-height: 100%;
}
#player-container {
  min-width: 500px;
  width: 100%;
  max-width: 864px;
  height: 100%;
  max-height: 486px;
  margin: auto;
  position: relative;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}
#previous-video {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
#previous-video .image > div {
  left: 320px;
}
#next-video {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}
#next-video .image > div {
  left: -320px;
}
#previous-video,
#next-video {
  width: 100%;
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
  position: relative;
  overflow: hidden;
}
#previous-video .box,
#next-video .box {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #fff;
  -ms-flex-item-align: middle;
  -webkit-align-self: middle;
  align-self: middle;
  cursor: pointer;
  opacity: .3;
  transition: all .3s;
}
#previous-video .box:focus,
#next-video .box:focus,
#previous-video .box:hover,
#next-video .box:hover,
#previous-video .box:active,
#next-video .box:active {
  opacity: 1;
}
#previous-video .box:focus p,
#next-video .box:focus p,
#previous-video .box:hover p,
#next-video .box:hover p,
#previous-video .box:active p,
#next-video .box:active p {
  color: #006699;
}
#previous-video .box:focus .image > div,
#next-video .box:focus .image > div,
#previous-video .box:hover .image > div,
#next-video .box:hover .image > div,
#previous-video .box:active .image > div,
#next-video .box:active .image > div {
  left: 0;
}
#previous-video .box .image,
#next-video .box .image {
  width: 320px;
  height: 180px;
  margin: auto;
  overflow: hidden;
}
#previous-video .box .image > div,
#next-video .box .image > div {
  position: relative;
  width: 320px;
  height: 180px;
  background: rgba(0, 0, 0, 0.5);
  top: -180px;
  padding-top: 60px;
  transition: all 0.3s cubic-bezier(0, 0.1, 0.35, 1);
}
#previous-video .box .image > div i,
#next-video .box .image > div i {
  font-size: 60px;
}
#previous-video .box p,
#next-video .box p {
  padding: 15px;
}
#collapse {
  width: 80px;
  height: 80px;
  position: relative;
  color: #1a1a1a;
  background: #fff;
  font-size: 50px;
  text-align: center;
  padding-top: 8px;
  top: -80px;
  margin-bottom: -80px;
  transition: all 0.3s cubic-bezier(0, 0.1, 0.35, 1);
}
#collapse:hover,
#collapse:focus,
#collapse:active {
  color: #555;
  cursor: pointer;
}
#collapse i {
  -webkit-transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0, 0.1, 0.35, 1);
  transform: rotate(0deg);
}
#collapse.small {
  width: 40px;
  height: 40px;
  font-size: 25px;
  padding-top: 4px;
  top: -40px;
  margin-bottom: -40px;
}
#collapse.small i {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
#main-buttons {
  margin: 0 0 50px 0;
  text-align: center;
}
#main-buttons .btn-group .btn-main-color {
  padding: 15px 30px;
}
#main-buttons .downvote:hover i {
  -webkit-animation: downvote .5s infinite;
  animation: downvote .5s infinite;
}
#main-buttons .upvote:hover i {
  -webkit-animation: upvote .5s infinite;
  animation: upvote .5s infinite;
}
#main-buttons .dropdown {
  display: inline-block;
}
#main-buttons .dropdown li:hover {
  cursor: pointer;
}
.main-section {
  max-width: 85%;
  min-width: 1100px;
  margin: auto;
}
.view-animation-container {
  position: relative;
  width: inherit;
}
.view-animation-container [ui-view] {
  width: 100%;
  position: absolute;
  transition: all 0.3s cubic-bezier(0, 0.1, 0.35, 1);
}
.view-animation-container [ui-view].ng-enter {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
}
.view-animation-container [ui-view].ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.view-animation-container [ui-view].ng-leave.ng-leave-active {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
}
#welcome {
  text-align: center;
  margin: 100px 0;
  min-height: 350px;
}
#channel-info {
  text-align: center;
  padding-top: 50px;
}
#channel-info .profile-image {
  border-radius: 50%;
}
#login {
  text-align: center;
  margin: 100px 0;
  min-height: 500px;
}
#settings {
  width: 1100px;
  margin: 0 auto;
  height: 500px;
}
#settings .options-group {
  margin: 25px;
}
#settings .options-group p {
  font-size: 20px;
}
#settings .options-group div:nth-child(2) {
  text-align: right;
}
#grid-opts button.btn {
  background: none;
  color: #aaa;
}
#grid-opts button.btn:hover,
#grid-opts button.btn:focus,
#grid-opts button.btn:active {
  color: #999;
}
.yt-items-list {
  list-style-type: none;
}
.yt-items-list a {
  display: block;
}
.yt-items-list .yt-item {
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  transition: all 0.3s cubic-bezier(0, 0.1, 0.35, 1);
}
.yt-items-list .yt-item:hover .thumb {
  background-size: 120%;
}
.yt-items-list .yt-item .thumb {
  min-height: 100px;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 0.3s cubic-bezier(0, 0.1, 0.35, 1);
}
.yt-items-list .yt-item .thumb img {
  position: relative;
  max-width: 100%;
  opacity: 0;
}
.yt-items-list .yt-item.ng-enter,
.yt-items-list .yt-item.ng-move {
  left: 50px;
  opacity: 0;
}
.yt-items-list .yt-item.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}
.yt-items-list .yt-item.ng-leave.ng-leave-active {
  left: -50px;
  opacity: 0;
}
.list .yt-item span:hover h5,
.list .yt-item span:hover p {
  color: #666;
}
.list .yt-item .thumb {
  width: 200px;
  height: 136px;
  margin-right: 15px;
}
.list .yt-item h5 {
  margin-top: 10px;
  max-height: 30px;
  overflow-y: hidden;
}
.list .yt-item p {
  max-height: 43px;
  overflow-y: hidden;
}
.grid .yt-item .thumb {
  position: relative;
  overflow: hidden;
}
.grid .yt-item .thumb p {
  position: absolute;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  padding: 10px;
  transition: all 0.3s cubic-bezier(0, 0.1, 0.35, 1);
}
.grid .yt-item .thumb .duration {
  top: 0;
  left: -300px;
}
.grid .yt-item .thumb .views,
.grid .yt-item .thumb .menu {
  bottom: 0;
  right: -300px;
  margin-bottom: 0;
}
.grid .yt-item .thumb:hover .duration {
  left: 0;
}
.grid .yt-item .thumb:hover .views,
.grid .yt-item .thumb:hover .menu {
  right: 0;
}
.grid .yt-item:nth-child(6n+7) {
  clear: left;
}
.grid .yt-item:nth-child(6n) {
  clear: right;
}
.grid .yt-item .text {
  text-align: center;
}
.grid .playlist .menu .dropdown-menu,
.grid .yt-item .menu .dropdown-menu {
  background: #1a1a1a;
  text-align: right;
  width: 100%;
  border-radius: 0;
  margin-top: 0;
}
.grid .playlist .menu .dropdown-menu a,
.grid .yt-item .menu .dropdown-menu a {
  color: #006699;
}
.grid .playlist .menu .dropdown-menu a:hover,
.grid .yt-item .menu .dropdown-menu a:hover,
.grid .playlist .menu .dropdown-menu a:focus,
.grid .yt-item .menu .dropdown-menu a:focus,
.grid .playlist .menu .dropdown-menu a:active,
.grid .yt-item .menu .dropdown-menu a:active {
  background: #006699;
  color: #eee;
}
.list .playlist span {
  font-size: 14px;
  padding: 8px 12px;
}
#info-box {
  min-width: 500px;
  max-width: 100vh;
  color: #fff;
  text-align: center;
  font-size: 25px;
  position: fixed;
  top: -50px;
  left: 50%;
  margin-left: -250px;
  line-height: 50px;
  transition: all 0.3s cubic-bezier(0, 0.1, 0.35, 1);
  z-index: 1500;
}
#info-box.visible {
  top: 0;
}
#info-box.success {
  background: green;
}
#info-box.error {
  background: red;
}
#info-box p {
  margin-bottom: 0;
}
#info-box span {
  font-size: 35px;
  font-weight: 700;
  float: right;
  margin: 0 25px;
  cursor: pointer;
}
.input-group {
  margin-bottom: 25px;
  border-radius: 0 0 0 0;
  border-top: 1px solid #006699;
  border-bottom: 1px solid #006699;
}
.input-group .input-group-addon {
  background: #006699;
  cursor: pointer;
  color: #fff;
}
.input-group .input-group-addon:hover,
.input-group .input-group-addon.active {
  background: #004466;
}
.input-group .input-group-addon,
.input-group .form-control {
  border-radius: 0 0 0 0;
  border: 0;
}
.input-group .form-control:focus {
  box-shadow: 0 0 8px #006699;
}
.label,
.btn,
.form-control {
  border-radius: 0;
}
.modal-header {
  background: #006699;
  color: #fff;
}
.modal-header h5::first-letter,
.modal-header .close {
  color: #fff;
}
.modal-footer {
  background: #fff;
}
input.ng-invalid:not(.ng-pristine) {
  border: 1px solid red;
  box-shadow: 0 0 5px red;
}
