<li class="row item" ng-class="playlist.selected ? 'active' : ''" ng-repeat="playlist in playlists | filter: playlistSearch" data-id="{{ playlist.id }}">

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="btn btn-default add" ng-click="addVideo();">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add current video to this playlist
                </a>
            </li>
            <li>
                <a class="btn btn-default listen" ng-click="playPlaylist($index);">
                    <i class="glyphicon glyphicon-play"></i>
                    Play this playlist
                </a>
            </li>
            <li>
                <a class="btn btn-default edit" ng-click="editPlaylist($index);">
                    <i class="glyphicon glyphicon-edit"></i>
                    Edit playlist
                </a>
            </li>
            <li>
                <a class="btn btn-default delete" ng-click="deletePlaylist($index);">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    Delete playlist
                </a>
            </li>
        </ul>
    </div>

    <a href="#!" title="{{ playlist.description }}" ng-click="makeActive($index);">
        <img src="{{ playlist.thumbnail }}" class="th">
        <div class="text">
            <i class="glyphicon glyphicon-lock" ng-show="playlist.status == 'private'" ng-click="changePrivacy($index);"></i>
            <i class="glyphicon glyphicon-link" ng-show="playlist.status == 'public'" ng-click="changePrivacy($index);"></i>
            <p class="title">{{ playlist.title }}</p>
        </div>
    </a>

</li>