<li class="item" ng-repeat="video in videos | filter: playlistVideosSearch" data-id="{{ video.id }}" ng-class=" video.selected ? 'active' : ''; ">

    <div class="video">
        <a href="#!" title="{{ video.description }}" ng-click="video.source == 'playlist' ? makeActive($index) : playVideo($index);">
            <img ng-src="{{ video.thumbnail }}" class="th">
            <div class="text">
                <div class="va-middle">
                    {{ video.title }}
                </div>
            </div>
        </a>
        <div class="dropdown" ng-if="video.source == 'playlist'">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="listen" ng-click="makeActive($index);">
                        <i class="glyphicon glyphicon-play"></i>
                        Play playlist from this video
                    </a>
                </li>
                <li>
                    <a class="listen" ng-click="playOnlyThis($index);">
                        <i class="glyphicon glyphicon-play-circle"></i>
                        Play only this video
                    </a>
                </li>
                <li>
                    <a class="delete" ng-click="deleteVideo($index);">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        Delete video from playlist
                    </a>
                </li>
                <li>
                    <a class="move-top" ng-click="move($index, 0);">
                        <i class=" glyphicon glyphicon-cloud-upload"></i>
                        Make first
                    </a>
                </li>
                <li>
                    <a class="move-up" ng-click="move($index, ($index - 1));">
                        <i class="glyphicon glyphicon-arrow-up"></i>
                        Move up
                    </a>
                </li>
                <li>
                    <a class="move-down" ng-click="move($index, ($index + 1));">
                        <i class="glyphicon glyphicon-arrow-down"></i>
                        Move down
                    </a>
                </li>
                <li>
                    <a class="move-bottom" ng-click="move($index, 'last');">
                        <i class="glyphicon glyphicon-cloud-download"></i>
                        Make last
                    </a>
                </li>
            </ul>
        </div>

        <!-- if source is search -->

        <div class="dropdown" ng-if="video.source == 'search'">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="listen" ng-click="playVideo($index);">
                        <i class="glyphicon glyphicon-play-circle"></i>
                        Play video
                    </a>
                </li>
                <li>
                    <a class="add" ng-click="addVideo($index);">
                        <i class="glyphicon glyphicon-plus"></i>
                        Add video to playlist
                    </a>
                </li>
                <li class="add-to-another">
                    <a>
                        <i class="glyphicon glyphicon-share-alt"></i>
                        Add to another playlist &#187;
                    </a>
                    <ul class="sub-dropdown">
                        <li ng-repeat="playlist in playlistsList" ng-click="addToAnotherPl($parent.$index, $index);">
                            {{ playlist.title }}
                        </li>
                    </ul>

                </li>
            </ul>
        </div>
    </div>

</li>